<div class="row">
  <div class="col-md-3 dashnav">
    <%= render :partial => 'nav' %> 
  </div>
  <div class="col-md-7">

  <h2>My Transactions</h2>

  <% if @user_transactions==[] %>
    <p>You don't have any Transactions</p>
  <%end%>

  <ul>
    <% @user_transactions.each do |transaction| %>
        <li><b><%= transaction.item.name %></b><br>
        Sold to <%= transaction.user.name%>: <%= transaction.user.email%>  <%= transaction.user.phone %><br>
        <%#= link_to('Delete', transaction, :method => :delete, :confirm => 'Are you sure?', class: "btn btn-xs btn-danger")  %></li>
    <% end %> 
   </ul> 
  </div>
</div>
