<div>
  <li><%= @item.name %> <%= number_to_currency(@item.price) %> <%= @item.description %></li>
  <%= image_tag @item.photo.url(:medium) %>
  <%= @sale.date %>  <%= @sale.title %>  <%= @sale.city %>  <%= @sale.zipcode %>  <%= @sale.description %>  <%= @sale.time_start %>  <%= @sale.time_end %>  <%= @sale.user.email unless @sale.user.blank? %>
  <div>
    <%= button_to 'confirm', "/sales/#{@sale.id}/items/#{@item.id}" %> 
  </div>
  <div>
    <%= button_to 'cancel', "/sales/#{params[:sale_id]}/", method: :get %>
  </div>
</div>