<%= form_for @sale, :multipart => true do |f| %>
  
  <p>  
    <%= f.label :title %>  
    <%= f.text_field :title, placeholder: "Title" %>  
  </p>  
  <p>  
    <%= f.label :address %>  
    <%= f.text_field :address, placeholder: "Address" %>  
  </p>  
  <p>  
    <%= f.label :city %>  
    <%= f.text_field :city, placeholder: "City" %>  
  </p>  
  <p>  
    <%= f.label :zipcode %>  
    <%= f.text_field :zipcode, placeholder: "Zipcode" %>  
  </p>  
  <p>  
    <%= f.label :description %>  
    <%= f.text_field :description, placeholder: "Description" %>  
  </p>  
  <p>  
    <%= f.label :date %>  
    <%= f.text_field :date, placeholder: "Date" %>  
  </p>  
  <div id="items">
     <%= f.fields_for :items, @sale.items.build do |b| %>
      <p></p>
      
      <%= b.text_field :name, placeholder: "Sale Item" %>

      <%= b.text_field :description, placeholder: "Description" %>

      <%= b.text_field :price, placeholder: "Cost" %>
      <button class="new_sale_item"> Add Item</button>
     
      <% end  %>
    </div>
 
  <p>  
    <%= f.label :time_start %>  
    <%= select_tag "sale[start_time]", options_for_select((9..21).map {|item| time = item% 12; item > 11? time = time.to_s + "am": time = time.to_s+ "pm"; [time,item] }) %>
  </p>
  <p>  
    <%= f.label :time_end %>  
    <%= select_tag "sale[end_time]", options_for_select((9..21).map {|item| time = item% 12; item > 11? time = time.to_s + "am": time = time.to_s+ "pm"; [time,item] }) %>
  </p>
    <%= f.file_field :photo %>

    <%= f.submit "Submit Sale" %>
<% end %>

<script type="text/javascript">
    var count = 1;
  $(".new_sale_item").click(function(evt){
      evt.preventDefault();
      console.log("clicked");

      var name = '<input id="sale_items_attributes_' + count + '_name" name="sale[items_attributes][' + count + '][name]" placeholder="Sale Item" type="text">';

      var describe = '<input id="sale_items_attributes_' + count + '_description" name="sale[items_attributes][' + count + '][description]" placeholder="Description" type="text">';

      var price = '<input id="sale_items_attributes_' + count + '_price" name="sale[items_attributes][' + count + '][price]" placeholder="Cost" type="text">';

    whole = "<p>"+ name + describe + price +"</p>";
      $("#items").append(whole);


      
      count++;
      console.log(count);


       });
</script>