

<%= form_for @sale, :multipart => true do |f| %>
  
<p>  
    <%= f.label :title %>  
    <%= f.text_field :title, placeholder: "Title" %>  
  </p>  
  <p>  
    <%= f.label :address %>  
    <%= f.text_field :address, placeholder: "Address" %>  
  </p>  
  <p>  
    <%= f.label :city %>  
    <%= f.text_field :city, placeholder: "City" %>  
  </p>  
  <p>  
    <%= f.label :zipcode %>  
    <%= f.text_field :zipcode, placeholder: "Zipcode" %>  
  </p>  
  <p>  
    <%= f.label :description %>  
    <%= f.text_field :description, placeholder: "Description" %>  
  </p>  
  <p>  
    <%#= f.label :date %>  
    <%#= f.text_field :date, placeholder: "Date" %>  
  </p>  
    <%# f.fields_for :items do |builder| %>
    <p></p>
    <%#= builder.label :content, "Item" %><br>
    <%#= builder.text_field :content, placeholder: "Sale Item" %>
    <%# end  %>

  <p>  
    <%= f.label :time_start %>  
    <%= select_tag "sale[start_time]", options_for_select((9..21).map {|item| time = item% 12; item > 11? time = time.to_s + "am": time = time.to_s+ "pm"; [time,item] }) %>
  </p>
<p>  
    <%= f.label :time_end %>  
    <%= select_tag "sale[end_time]", options_for_select((9..21).map {|item| time = item% 12; item > 11? time = time.to_s + "am": time = time.to_s+ "pm"; [time,item] }) %>
  </p>

    <%= f.file_field :uploaded_file %>

    <%= f.submit "Upload file" %>
<% end %>


  